STARTUP.A51
weather.plg
weather.uvopt
weather.uvproj
weather_uvproj.bak
.vscode/ipch/41069b966341fdfd/mmap_address.bin
.vscode/ipch/69f705b0800745a2/MAIN.ipch
.vscode/ipch/69f705b0800745a2/mmap_address.bin
.vscode/ipch/69f70cb080075187/MAIN.ipch
.vscode/ipch/69f70cb080075187/mmap_address.bin
.vscode/ipch/81217a62dcfa55d2/JLX_LCD.ipch
.vscode/ipch/81217a62dcfa55d2/mmap_address.bin
.vscode/ipch/8aa785837cedcb3a/mmap_address.bin
